.participants {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  width: 704px;
  padding: 0;
  text-align: left;
  margin: 100px auto;
}

.participants[data-type="spacer"] {
	display: flex;
	flex-direction: column;
	margin-bottom: 250vh;
}

.participantName {
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
}

.participant {
  margin-bottom: 30px;
  text-align: center;
  cursor: pointer;
	transform: scale(0.3);
	transition: opacity 0.3s ease, transform 0.3s ease;
}

.participant:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .participants {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    width: 100%;
    margin: 10px 0;
  }

  .participant {
    margin-bottom: 0;
  }

	.participantName {
		display: none;
	}
}

/* Ensure popover is always fully visible */
.participants :global(.react-tiny-popover-container) {
  opacity: 1 !important;
  z-index: 10000 !important;
}
