.title {
  text-align: left;
	font-size: 42px;
	margin-bottom: 30px;
	color: var(--purple-color);
}

.content p {
  font-size: 1.1rem;
	line-height: 1.8;
	margin-bottom: 25px;
	color: var(--text-color);
	text-align: left;
}

.content strong {
	color: var(--orange-color);
	font-weight: 700;
}
