.section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: #f8f9fa;
  padding: 0 20px;
}

.container {
  max-width: 704px;
  width: 100%;
  z-index: 1;
}
