.section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--background-color);
  padding: 0 20px;
}

.container {
  max-width: 704px;
  width: 100%;
  z-index: 1;
}
